:root {
    --primary-bg-color: oklch(0.278 0.033 256.848);
    --primary-color: oklch(0.278 0.033 256.848);
    --secondary-color: oklch(0.551 0.027 264.364);
    --chart-bg-color: oklch(0.928 0.006 264.531);
    --chart-fg-color: oklch(0.707 0.022 261.325);
    --text-base: 16px;
    --line-height: 1.5;
    --card-bg-color: #fff;
    --font-weight: 300;
    --timeline-horizontal-line-color: oklch(0.928 0.006 264.531);
    --timeline-item-bg-color: oklch(0.985 0.002 247.839);
    --border-radius: 0.5rem;
    --border-radius-sm: 0.25rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    background-color: var(--primary-bg-color);
    font-size: var(--text-base);
    line-height: var(--line-height);
    color: var(--primary-color);
    font-weight: var(--font-weight);
}

.container {
    background: var(--card-bg-color);
    padding: 1.25rem;
    position: relative;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    margin: -1.25rem -1.25rem 0;
    padding: 1rem 1.25rem;
    background: var(--card-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

header h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Alumni Sans", Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
    line-height: normal;
}

header p {
    font-size: 1rem;
    color: var(--secondary-color);
    font-weight: 400;
}

section {
    margin: 2rem 0;
}

section h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    margin-bottom: 1rem;
    padding-bottom: 0.25rem;
    font-size: 1.25rem;
    font-weight: 500;
}

section h3 {
    font-weight: 400;
    font-size: 1.125rem;
}

section p {
    color: var(--secondary-color)
}

section strong {
    font-weight: 400;
}

a.icon-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

a.icon-link:hover>svg {
    color: rgba(0, 0, 0, 0.75);
}

.text-primary {
    color: var(--primary-color);
}

.timeline {
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: var(--timeline-horizontal-line-color);
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    padding-left: 25px;
}

.timeline-item .timeline-content {
    background: var(--timeline-item-bg-color);
    padding: 15px;
    border-radius: var(--border-radius);
    position: relative;
}

.timeline-item .timeline-content::before {
    content: "";
    position: absolute;
    top: 18px;
    left: -19px;
    border: 10px solid transparent;
    border-right-color: var(--timeline-item-bg-color);
}

.timeline-item::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 1px;
    width: 12px;
    height: 12px;
    background: var(--card-bg-color);
    border: 2px solid var(--timeline-horizontal-line-color);
    border-radius: 50%;
    transform: translateX(-50%);
}

.timeline-item ul {
    margin-top: 0.5rem;
    list-style: none;
}

.skills .categories {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.skills .categories h3 {
    margin-bottom: 0.5rem;
}

ul:has(.badge) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.badge {
    display: inline-flex;
    padding: 0.25em 0.5em;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--card-bg-color);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-sm);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.chart-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.chart-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.chart-item label {
    font-weight: 400;
    color: var(--card-bg-color);
    font-size: 0.875rem;
    position: absolute;
    text-align: left;
    padding-left: 0.5rem;
    line-height: normal;
}

.chart-item .progress {
    display: inline-flex;
    width: 100%;
    height: 1.25rem;
    background-color: var(--chart-bg-color);
    border-radius: var(--border-radius-sm);
}

.chart-item .progress .value {
    background-color: var(--chart-fg-color);
    border-radius: var(--border-radius-sm);
}

.chart-item .progress .value.high {
    background-color: oklch(0.508 0.118 165.612);
}

.chart-item .progress .value.mid {
    background-color: oklch(0.5 0.134 242.749);
}

.chart-item .x-axis {
    display: flex;
    width: 100%;
}

.chart-item .x-axis span {
    text-align: right;
    font-size: 0.75rem;
    color: var(--secondary-color);
}

.chart-item .x-axis span:not(:first-child) {
    width: 10%;
}

@media print,
(min-width: 768px) {
    .container {
        max-width: 800px;
        margin: 2rem auto;
        background: var(--card-bg-color);
        border-radius: var(--border-radius);
    }

    .chart-item label {
        display: inline-flex;
        justify-content: right;
        width: 210px;
        color: var(--secondary-color);
        position: relative;
    }

    .chart-item .progress .value {
        color: transparent;
    }
}

@media only print {
    body {
        background-color: white !important;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body header {
        position: relative !important;
        box-shadow: none !important;
        border-radius: 0 !important;
    }

    body .container {
        max-width: auto !important;
        margin: auto !important;
        background: white !important;
        border-radius: 0 !important;
        padding: 0.5rem !important;
    }
}